@font-face {
  font-family: 'Titilium-bold';
  src: url('/assets/fonts/titilium/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Titilium-regular';
  src: url('/assets/fonts/titilium/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-regular';
  src: url('/assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}
